@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
  margin: 0;
  overflow: hidden;
}
::-webkit-input-placeholder {
  color: #AAA;
}
:-ms-input-placeholder {
  color: #AAA !important;
}
#city, #date, #time, #find, .ui-menu {
  position: absolute;
  z-index: 1;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  border-style: none !important;
  border-radius: 0;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.5);
}
#city, #date, #time {
  height: 16px;
  top: 8px;
  padding: 2px;
  background: white;
  font-size: 14px;    
  line-height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#city {
  left: 8px;
  width: 110px;
  padding-left: 4px;
  outline: none;
}
#find {
  top: 8px;
  left: 121px;
  height: 16px;
  width: 16px;
  padding: 2px;
  background: #EEE;
  font-size: 15px;
  line-height: 16px;
  cursor: pointer;
}
#date, #time {
  cursor: pointer;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#date {
  right: 93px;
  width: 66px;
}
.ui-datepicker {
  margin-top: 1px;
  border-style: none !important;
  border-radius: 0;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.5);
  transform: translate(-8px, 0);
}
.ui-widget-content .ui-state-active {
  border-color: #777;
  background-color: #999;
}
.ui-widget-content .ui-state-highlight {
  border-color: #BBB;
  background-color: #DDD;
  color: #454545;
}
#time {
  right: 8px;
  width: 75px;
}
.ui-menu {
  width: 61px;
  top: 29px;
  right: 26px;
  font-size: 14px;
  overflow-x: hidden;
}
.ui-menu > li > div {
  border-style: none !important;
  margin: 0 !important;
  background-color: white !important;
  color: #444 !important;
}
.ui-menu > li > div:hover {
  background-color: #EEE !important;
}
#map {
  height: 600px;
  mix-blend-mode: darken;
}
.gm-style-iw {
  z-index: -1;
  top: 14px !important;
  padding: 5px 0 2px 7px;
  background-color: white;
  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.5);
}
#title {
  position: fixed;
  bottom: 4px;
  color: black;
  text-align: center;
  z-index: -1;
  font-family: Comfortaa, sans-serif;
  font-size: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.4;
}
_:-ms-lang(x), #title { /* IE & Edge */
  z-index: 1 !important;
  cursor: default;
  -ms-user-select: none;
}
