@import url('https://fonts.googleapis.com/css?family=Comfortaa');
#city, #date, #time {
  position: absolute;
  z-index: 1;
  top: 12px;
  height: 16px;
  padding: 1px;
  background: white;
  color: #444;
  border: 1px solid darkgrey;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px;    
}
#city {
  left: 12px;
  width: 110px;
}
#find {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 125px;
  width: 20px;
  height: 20px;
  padding: 0px;
  font-size: 14px;
  cursor: pointer;
}
#date, #time {
  cursor: pointer;
  text-align: right;
  user-select: none;
  -ms-user-select: none;
}
#date {
  right: 95px;
  width: 66px;
}
.ui-corner-all {
  border-radius: 0;
}
#time {
  right: 12px;
  width: 76px;
}
.ui-menu {
  position: absolute;
  z-index: 1;
  width: 60px;
  top: 32px;
  right: 30px;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px;
  overflow-x: hidden;
}
#map {
  height: 600px;
  mix-blend-mode: darken;
}
#title {
  position: fixed;
  bottom: 4px;
  color: black;
  text-align: center;
  z-index: -1;
  font-family: Comfortaa, sans-serif;
  font-size: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.4;
}
_:-ms-lang(x), #title { /* IE & Edge */
  z-index: 1 !important;
  cursor: default;
  -ms-user-select: none;
}
